.fent{
    background-image: url(Image/_91369363_1c9a0217-abfa-4e23-9a03-e56444542bcb.jpg);
    width: 620px;
    height: 470px;
    margin-left: 30%;
    margin-top: 50px;
    text-align: center;
}

.fent2{
    background-image: url(Image/_91369363_1c9a0217-abfa-4e23-9a03-e56444542bcb.jpg);
    width: 620px;
    height: 470px;
    margin-right: 30%;
    margin-top: 50px;
    text-align: bottom;
}



