.editPlayer{
    background-image: url(Image/top-view-half-soccer-field-260nw-206556235.jpg);
    width: 620px;
    height: 470px;
    margin-left: 30%;
    margin-top: 50px;
    text-align: center;
}

.editPlayer{
    background-image: url(Image/top-view-half-soccer-field-260nw-206556235.jpg);
    width: 620px;
    height: 470px;
    margin-left: 30%;
    margin-top: 50px;
    text-align: center;
}

.editPlayer{
    background-image: url(Image/top-view-half-soccer-field-260nw-206556235.jpg);
    width: 620px;
    height: 470px;
    margin-left: 30%;
    margin-top: 50px;
    text-align: center;
}


.editPlayer{
    background-image: url(Image/top-view-half-soccer-field-260nw-206556235.jpg);
    width: 620px;
    height: 470px;
    margin-left: 30%;
    margin-top: 50px;
    text-align: center;
}

.editPlayer{
    background-image: url(Image/top-view-half-soccer-field-260nw-206556235.jpg);
    width: 620px;
    height: 470px;
    margin-left: 30%;
    margin-top: 50px;
    text-align: center;
}